<header class="header_in clearfix">
  <div class="container">
    <div id="logo">
      <a href="/">
        <img src="img/logo_sticky.svg" width="140" height="35" alt="" />
      </a>
    </div>
    <div class="layer"></div>
    <!-- Opacity Mask Menu Mobile -->
    <!-- /top_menu -->
    <a href="#0" class="open_close">
      <i class="icon_menu"></i><span>Menu</span>
    </a>
    <nav class="main-menu">
      <div id="header_menu">
        <a href="#0" class="open_close">
          <i class="icon_close"></i><span>Menu</span>
        </a>
        <a href="index.html"
          ><img src="img/logo.svg" width="162" height="35" alt=""
        /></a>
      </div>
      <ul>
        <li class="submenu">
          <a href="#0" class="show-submenu">Trang chủ</a>
          <ul>
            <li><a href="list-restaurant">Danh sách quán</a></li>
            <li><a href="submit-restaurant">Đăng ký mở quán</a></li>
          </ul>
        </li>
        <% if(user){ %>
        <li class="submenu">
          <a href="#" class="show-submenu">Người dùng </a>
          <ul>
            <li><a href="/logout">Đăng xuất</a></li>
          </ul>
        </li>
        <% } %>
        <% if(!user){ %>
            <li class="submenu">
              <a href="#" class="show-submenu">Đăng nhập</a>
              <ul>
                <li><a href="/login-user">Người dùng</a></li>
                <li><a href="/restaurant">Người bán</a></li>
              </ul>
            </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
