<div class="hero_single inner_pages background-image" data-background="url(img/home_section_2.jpg)">
  <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h1>Attract New Customers</h1>
          <p>More bookings from diners around the corner</p>
          <a href="#submit" class="btn_1 gradient btn_scroll">Submit Now</a>
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>
  <div class="wave hero"></div>
</div>
<!-- /hero_single -->

  <div class="container margin_30_20">			
  <div class="main_title center">
    <span><em></em></span>
    <h2>Why Submit to FooYes</h2>
    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
  </div>

  <div class="row justify-content-center align-items-center add_bottom_15">
      <div class="col-lg-6">
        <div class="box_about">
          <h3>Boost your Bookings</h3>
          <p class="lead">Est falli invenire interpretaris id, magna libris sensibus mel id.</p>
          <p>Per eu nostrud feugiat. Et quo molestiae persecuti neglegentur. At zril definitionem mei, vel ei choro volumus. An tota nulla soluta has, ei nec essent audiam, te nisl dignissim vel. Ex velit audire perfecto pro, ei mei doming vivendo legendos. Cu sit magna zril, an odio delectus constituto vis. Vis ludus omnesque ne, est veri quaeque ad.</p>
          <img src="img/arrow_about.png" alt="" class="arrow_1">
        </div>
      </div>
      <div class="col-lg-6 text-center d-none d-lg-block">
          <img src="img/about_1.svg" alt="" class="img-fluid" width="250" height="250">
      </div>
    </div>
    <!-- /row -->
    <div class="row justify-content-center align-items-center add_bottom_15">
      <div class="col-lg-6 text-center d-none d-lg-block">
          <img src="img/about_2.svg" alt="" class="img-fluid" width="250" height="250">
      </div>
      <div class="col-lg-6">
        <div class="box_about">
          <h3>Manage Easly</h3>
          <p class="lead">Est falli invenire interpretaris id, magna libris sensibus mel id.</p>
          <p>Per eu nostrud feugiat. Et quo molestiae persecuti neglegentur. At zril definitionem mei, vel ei choro volumus. An tota nulla soluta has, ei nec essent audiam, te nisl dignissim vel. Ex velit audire perfecto pro, ei mei doming vivendo legendos. Cu sit magna zril, an odio delectus constituto vis. Vis ludus omnesque ne, est veri quaeque ad.</p>
          <img src="img/arrow_about.png" alt="" class="arrow_2">
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="box_about">
          <h3>Reach New Customers</h3>
          <p class="lead">Est falli invenire interpretaris id, magna libris sensibus mel id.</p>
          <p>Per eu nostrud feugiat. Et quo molestiae persecuti neglegentur. At zril definitionem mei, vel ei choro volumus. An tota nulla soluta has, ei nec essent audiam, te nisl dignissim vel. Ex velit audire perfecto pro, ei mei doming vivendo legendos. Cu sit magna zril, an odio delectus constituto vis. Vis ludus omnesque ne, est veri quaeque ad.</p>
        </div>

      </div>
      <div class="col-lg-6 text-center d-none d-lg-block">
          <img src="img/about_3.svg" alt="" class="img-fluid" width="250" height="250">
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

<div class="bg_gray">
<div class="container margin_60_40">			
  <div class="main_title center">
    <span><em></em></span>
    <h2>Our Pricing Plans</h2>
    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
  </div>
     <div class="row plans">
            <div class="plan col-md-4">
              <div class="plan-title">
                  <h3>1 Month</h3>
                  <p>Free of charge one standard listing</p>
              </div>
                <p class="plan-price">Free</p>
                <ul class="plan-features">
                    <li><strong>Check and go</strong> included</li>
                    <li><strong>1 month</strong> valid</li>
                    <li><strong>Unsubscribe</strong> anytime</li>
                </ul>
                <a href="#submit" class="btn_1 gray btn_scroll">Submit</a>
            </div> <!-- End col-md-4 -->
            
            <div class="plan plan-tall col-md-4">
              <div class="plan-title">
                  <h3>6 Months</h3>
                  <p>One time fee for one listing, highlighted in search results</p>
              </div>
                <p class="plan-price">$199</p>
                <ul class="plan-features">
                  <li><strong>Premium</strong> support</li>
                    <li><strong>Check and go</strong> included</li>
                     <li><strong>APP</strong> included</li>
                    <li><strong>6 months</strong> valid</li>
                    <li><strong>Unsubscribe</strong> anytime</li>
                </ul>
                <a href="#submit" class="btn_1 gradient btn_scroll">Submit</a>
            </div><!-- End col-md-4 -->
            
            <div class="plan col-md-4">
               <div class="plan-title">
                  <h3>12 Months</h3>
                  <p>Monthly subscription for unlimited listings</p>
              </div>
                <p class="plan-price">$299</p>
                <ul class="plan-features">
                  <li><strong>Premium</strong> support</li>
                    <li><strong>Check and go</strong> included</li>
                    <li><strong>12 months</strong> valid</li>
                    <li><strong>Unsubscribe</strong> anytime</li>
                </ul>
                <a href="#submit" class="btn_1 gray btn_scroll">Submit</a>
            </div><!-- End col-md-4 -->
        </div><!-- End row plans-->
</div>
<!-- /container -->
</div>

  <div class="container margin_60_20" id="submit">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="text-center add_bottom_15">
          <h4>Please fill the form below</h4>
          <p>Id persius indoctum sed, audiam verear his in, te eum quot comprehensam. Sed impetus vocibus repudiare et.</p>
        </div>
        <div id="message-register"></div>
          <form method="post" action="post-restaurant">
            <h6>Personal data</h6>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Tên của bạn" name="manager_name" id="name_register">
                </div>
              </div>
            </div>
            <!-- /row -->
            <div class="row add_bottom_15">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" name="email" id="email_register">
                </div>
              </div>
            </div>
            <!-- /row -->
            <h6>Restaurant data</h6>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Tên quán" name="name" id="restaurantname_register">
                </div>
              </div>
            </div>
            <!-- /row -->
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Số điện thoại liên hệ" name="number_phone" id="address_register">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Địa chỉ quán" name="address" id="address_register">
                </div>
              </div>
            </div>
            <div class="form-group text-center"><button type="submit" class="btn_1 gradient"  id="submit-register">Submit</button>
          </form>
      </div>
    </div>
  </div>
  <div id="toTop"></div><!-- Back to top button -->
	
	
	<!-- Sign In Modal -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="modal_header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="ti-email"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="ti-lock"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<label class="container_check">Remember me
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</div>
					<div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center">
					<input type="submit" value="Log In" class="btn_1 full-width mb_5">
					Don’t have an account? <a href="account.html">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>